# Ignore virtual environment directories
.venv/
checkpoints/**
!checkpoints/case_best/
!checkpoints/case_best/results.csv
# Ignore model checkpoint
model.pt
#Ignore other files
*.csv
*.ipynb
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd